@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  text-align: center;
}
.big-image {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../../Images/services-mainbg.jpg");
    
  }
.overlay p {
    margin: 0;
    font-size: 28px;
    padding-bottom: 10px;
    font-size: 2rem;
}
  
.navbar {
      background-color: black;
}
  
.nav-item {
    color: white;
    font-size: 1.5rem;
}
  
.nav-link {
    color: white;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
  
.overlay h1 {
    font-size: 65px;
    letter-spacing: 0px;
    margin: 0 0 5px;
    padding-top: 19px;
    font-size: 5rem;
    padding-bottom: 20px;
}

.heading{
    padding: 7% 3%;

}

.main-heading {
    width: 40%;
    margin: 0 auto;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #C3073F;
}

.about {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
}

.services {
    text-align: center;
    display: inline-flex;
    padding: 5% 3%;
}

.services h1 {
    color: #C3073F;
}

.service-item img {
    height: 20rem;
    width: auto;
    margin-bottom: 2rem;
}

.service-item p, h1 {
    width: 70%;
    margin: 0 auto;
}

.footer {
    padding: 3%;
    text-align: center;
    font-size: 1.2rem;
    color: white;
    background-color: rgb(70, 68, 68);
  }


